{% extends 'base.html' %}
{% block 'main' %}
{% load static %}

<style>
    .acc-body{
        border: black solid 1px;
        margin: 26px;
        border-radius: 22px;
    }
    .acc-header{
        color: black;
    }
    .placeimg{
        width:80%
    }
</style>
<!--main content-->
<div class="row mt-3">
    <div class="col-md-9">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Select a delivery address
                    
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Your addresses</strong><hr>
                    {% if selected_add %}
                        <strong>{{selected_add.name}}</strong>
                    <p>{{selected_add.address}},{{selected_add.city}},{{selected_add.state}},{{selected_add.postal_code}},{{selected_add.country}}</p>
                    {% endif %}
                    <form method="POST" action="place_order">
                        {% csrf_token %}
                    {% for add in address %}
                    <input type="radio" name="address" {% if forloop.counter == 1 %} checked {% endif %} value="{{add.id}}">
                    <strong>{{add.name}}</strong>
                    {{add.addess}},{{add.city}},{{add.state}},{{add.postal_code}},{{add.country}}
                    <br>                    
                    {% endfor %}
                    <br><br>
                    {% if address.all or selected_add %}
                    <button type="submit" {% if selected_add %}
                    disabled{% endif %}  class="btn btn-warning">Use This Address</button>
                    
                        
                    {% else %}
                    
                    <a href="/my_address" class="btn btn-warning">Create Address</a>
                    {% endif %}
                    </form> 
                     
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Items and Delivery
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Products</strong> 
                    {% for x in data %}
                    <div class="row mt-3">
                      <div class="col-sm-4">
                          <img  src="{{x.pid.image1.url}}" class="card-img-top placeimg" alt="mobile" height="150px" width="130px">                    
                      </div><!--end-->
                      <div class="col-sm-8">
                          <p><strong>Product Name: </strong>{{x.pid.pname}}</p>
                          <p><strong>Price: </strong>Rs. {{x.pid.price}}</p>
                          <!-- <p><strong>Category: </strong>{{x.pid.category}}</p> -->
                          <p><strong>Product Description: </strong>{{x.pid.description|slice:":50"}}</p>
                          <p>
                              <!-- <strong>Qty: </strong>
                              <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                              <input type="number" name="qty" value="{{x.qty}}">
                              <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></p> -->
                          </p>
                          <a href="/remove_oqty/{{x.id}}"><button class="btn btn-danger">Remove</button></a>&nbsp;
                      
                      </div><!--end-->
                    </div><!--end row-->
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-3">
        <h5 class="bg-danger text-white p-2">Total Amount</h5>
        <p><strong>Total({{no_of_items}} items)</strong>Rs. {{total}}</p><hr>
        <p><strong>Total Amount: </strong> Rs. {{total}}</p>
        {% if selected_add %}                     
            <a href="/makepayment" class="btn btn-danger">Make Payment</a>
        {% endif %}
        
    </div>
</div>
{% endblock 'main' %}